{% extends "base_main.html" %}



{% block content %}


<!-- ================= POSTS ================= -->
<section class="max-w-7xl mx-auto px-4 mt-20">
    {% for cat in posts %}
    
  <h3 class="text-yellow-400 uppercase tracking-widest mb-8 text-sm">
    
     {{ cat.category.category_name }} Posts
    
  </h3>
    {% endfor %}

    
  <div class="grid md:grid-cols-2 gap-12">
    {% for post in posts %}
    <article class="animate-slide hover:translate-x-2 transition">
      <img
        src="{{ post.recent_posts.url }}"
        class="h-44 w-full object-cover group-hover:scale-110 transition duration-700"
      />
      <h4 class="text-2xl font-bold mb-2 hover:text-yellow-400 transition">
        {{ post.title }}
      </h4>
      <p class="text-sm text-zinc-400 mb-3">{{ blog.created_at }} · {{ blog.author }}</p>
      <p class="text-zinc-300">
        {{ post.short_description }}
      </p>
    </article>

    
    {% endfor %}
  </div>
</section>





{% endblock content %}







